body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.app {
  width: 95%;
  padding: 2.5%;
  margin: auto;
}

#table th{
  text-align: center;
}

#waiting, #ongoing, #completed{
  width: 30%;
}

.trip{
  border-bottom: 1px solid #ccc;
  padding: 5px
}

.tripItem{
  height: 20px;
}
