<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %> App</p>

    <div class="app">
      <form class="form-horizontal" id="request">
        <div class="form-group">
          <label class="control-label col-sm-2" for="customer">Customer:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="customer" placeholder="Enter name">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Submit</button>
          </div>
        </div>
        <p id="response"></p>
      </form>
    </div>

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script type="text/javascript">
      (function() {
        $( "#request" ).submit(function(e){
          e.preventDefault();
          $.ajax({
            url:  '<%= baseUrl %>/api/v0/trips/',
            type: "POST",
            data: JSON.stringify({
              'customerId': $('#customer').val(),
            }),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function(data){
              $('#response').text(data.message);
              setTimeout(function(){
                $('#response').text('');
              },3000)
            }
          });
        });
      })();
    </script>
  </body>
</html>
